<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Данные</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
          crossorigin="anonymous"></script>
</head>
<body>

<div th:replace="~{common/navbar :: navi(ObserverInfo)}"></div>
<div class="container shadow p-3" style="background-color: rgba(0, 0, 0, 0.1); width: 45%;">
  <div class="card-body">
  <h2 th:text="${(observer.patronymic == null)}?
      ${observer.lastname + ' ' + observer.firstname} :
      ${observer.lastname + ' ' + observer.firstname + ' ' + observer.patronymic}"></h2>
  <div class="justify-content-center " style="width: 100%;">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-interval="60000">
      <div class="carousel-inner" >
        <div th:each="imageId, i : ${observerImagesId}" class="carousel-item"
             th:classappend="${i.index==0 ? 'active' : ''}">
          <img th:src="@{'/observer/images/' + ${imageId}}" alt="" class="d-block w-100"/>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предыдущий</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следующий</span>
      </button>
    </div>

      <h2 th:text="${(observer.patronymic == null)}?
      ${observer.lastname + ' ' + observer.firstname} :
      ${observer.lastname + ' ' + observer.firstname + ' ' + observer.patronymic}" class="text-decoration-underline"></h2>
      <h5 th:text="${(observer.rttw == null || observer.rttw == '')}? '' : ${'Рейтинг ttw: ' + observer.rttw}"></h5>
      <h5 th:text="${(observer.yearOfBirth == null || observer.yearOfBirth == '')}? '' : ${'Год рождения: ' + observer.yearOfBirth}"></h5>
      <a sec:authorize="hasAuthority('observer.readOnly')"
         th:href="@{/user}" class="btn btn-primary">Личный кабинет</a>
      <a sec:authorize="hasAuthority('observer.update')"
         th:href="@{'/observer?id=' + ${observer.id}}" class="btn btn-primary">Изменить личные данные</a>
    </div>
  </div>
  <foot>
    <br>
    <br>
  </foot>
</div>
<div th:replace="~{common/footer :: footerBlock}"/>
</body>
</html>